@page
@model KimLienAdministrator.Pages.ProductManagement.EditModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
@if(Model.Messages.Count > 0)
{
    foreach(var message in Model.Messages)
    {
        <p class="alert-danger">@message</p>
    }
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Category">
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <select asp-for="MainSelectedCategories" class="form-control" multiple="multiple" asp-items="Model.MainCategories"></select>
                <button name="action" value="@Model.ACTION_CATEGORY_SELECT" class="btn btn-secondary">Category Select</button>
            </div>
            <div class="form-check-group">
                @if (Model.SubCategories != null && Model.SubCategories.Count() > 0)
                {
                    @foreach (var sub in Model.SubCategories)
                    {
                        <label>@sub.Key</label>
                        <select asp-for="SubSelectedCategories" class="form-control" multiple="multiple" asp-items="sub.Value"></select>
                    }
                }

                <button name="action" value="@Model.ACTION_CATEGORY_SAVE" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.DeserializedPics != null)
            {
        <form method="post" asp-page-handler="SetPrimaryPicture">
                <input type="hidden" asp-for="Product.Id" />
                <div class="form-group">
                    <select id="primary_pic" name="selected" class="form-control" asp-items="Model.Pictures" onchange="onSelectPrimaryPicture()"></select>
                    <img id="show_selected" src="@Model.DeserializedPics.First()">
                    <button class="btn btn-secondary">@Model.PIC_PRIMARY</button>
                </div>
        </form>
        <form method="post" asp-page-handler="DeleteSelectedPicture">
                <input type="hidden" asp-for="Product.Id" />
                @foreach (var item in Model.DeserializedPics)
                {
                    <div class="form-group">
                    <img src="@item"/>
                    <input type="hidden" name="selected" value="@item"/>
                    <button class="btn btn-primary">@Model.PIC_DELETE</button>
                    </div>
                }
        </form>
        }
        <form method="post" asp-page-handler="UploadPictures" enctype="multipart/form-data">
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control" />
                <button class="btn btn-danger">@Model.PIC_UPLOAD</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form method="post" asp-page-handler="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                @foreach(var item in Model.ProductModel.ProductCategories)
                {
                    <label>@item.Category.Name</label>
                }
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsDeleted" /> @Html.DisplayNameFor(model => model.Product.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <button name="action" value="@Model.ACTION_SAVE" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
