@page
@model KimLienAdministrator.Pages.ProductManagement.EditModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh Sửa Sản Phẩm</h1>

<hr />
@if(Model.Messages.Count > 0)
{
    foreach(var message in Model.Messages)
    {
        <p class="alert-danger">@message</p>
    }
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Category">
            <label class="fs-5">Chọn Thể Loại</label>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group mb-3">
                <select asp-for="MainSelectedCategories" class="form-control fs-5" multiple="multiple" asp-items="Model.MainCategories"></select>
                <button name="action" value="@Model.ACTION_CATEGORY_SELECT" class="btn btn-secondary fs-5 mt-2">Chọn Thể Loại Phụ</button>
            </div>
            <div class="form-check-group">
                @if (Model.SubCategories != null && Model.SubCategories.Count() > 0)
                {
                    @foreach (var sub in Model.SubCategories)
                    {
                        <label class="fs-5">@sub.Key</label>
                        <select asp-for="SubSelectedCategories" class="form-control fs-5" multiple="multiple" asp-items="sub.Value"></select>
                    }
                }

                <button name="action" value="@Model.ACTION_CATEGORY_SAVE" class="btn btn-primary fs-5 mt-2">Lưu</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.DeserializedPics != null)
            {
            <form method="post" asp-page-handler="SetPrimaryPicture">
                <label class="fs-5">Ảnh chính của sản phẩm</label>
                <input type="hidden" asp-for="Product.Id" />
                <div class="form-group">
                    <select id="primary_pic" name="selected" class="form-control fs-5 mb-2" asp-items="Model.Pictures" onchange="onSelectPrimaryPicture()"></select>
                    <img class="h-auto" id="show_selected" src="@Model.DeserializedPics.First()">
                    <button class="btn btn-secondary fs-5 mb-4 mt-2">@Model.PIC_PRIMARY</button>
                </div>
        </form>
            <form class="fs-5" method="post" asp-page-handler="DeleteSelectedPicture">
                <label class="fs-5">Ảnh phụ của sản phẩm</label>
                <input type="hidden" asp-for="Product.Id" />
                @foreach (var item in Model.DeserializedPics)
                {
                    <div class="form-group">
                    <img class="h-auto" src="@item"/>
                    <input type="hidden" name="selected" value="@item"/>
                        <button class="btn btn-danger fs-5 mb-4 mt-2">@Model.PIC_DELETE</button>
                    </div>
                }
        </form>
        }
        <form class="fs-5" method="post" asp-page-handler="UploadPictures" enctype="multipart/form-data">
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Files" class="control-label fs-5">File Ảnh</label>
                <input asp-for="Files" class="form-control fs-5" />
                <button class="btn btn-success fs-5 mt-2">@Model.PIC_UPLOAD</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form class="m-0 fs-5" method="post" asp-page-handler="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="fs-5">Tên</label>
                <input asp-for="Product.Name" class="form-control fs-5" />
            </div>
            <div class="form-group mb-5">
                <label class="control-label fw-bold">Category: </label>
                @foreach(var item in Model.ProductModel.ProductCategories)
                {
                    <label class="border border-dark p-1 m-1 rounded fs-5">@item.Category.Name</label>
                }
            </div>
            <div class="form-group mb-2">
                <label asp-for="Product.Description" class="fs-5">Chi tiết mô tả</label>
                @*<input asp-for="Product.Description" class="form-control fs-5" />*@
                <textarea class="" cols="20" rows="5" asp-for="Product.Description"></textarea>
            </div>
            <div class="form-group">
                <button name="action" value="@Model.ACTION_SAVE" class="btn btn-primary fs-5">Lưu</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="fs-5" asp-page="./Index"><p class="btn btn-secondary fs-5">Về danh sách</p></a>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.1/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        max_height: 600,
        max_width: 600,
        min_height: 200,
        min_width: 400,
        content_style: "body {font-size: 15pt;}",
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
