@using AppService.DTOs;
@using AppService.UnitOfWork;
@inject IUnitOfWork _unitOfWork
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KimLienCustomerView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KimLienCustomerView.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body class="d-flex flex-column">
    <header>
        <div class="container mb-3">
            <img class="header-logo rounded-2 w-100 h-auto" src="https://kimlien1808.blob.core.windows.net/pictures/header-1.png" alt="Kim Lien Logo" />
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow rounded-2 py-0" style="opacity: 80%">
                <a class="navbar-brand px-3 mx-0 border border-2 border-start-0 border-top-0 border-bottom-0" asp-area="" asp-page="/ProductView/Products">Trang Chủ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1 justify-content-start">
                        @{
                            var categories = await GetCategories();
                        }

                        @foreach (var item in categories)
                        {
                            <li class="px-3 border border-2 border-start-0 border-top-0 border-bottom-0">
                                <a class="nav-link text-dark fs-5 text-wrap" asp-area="" asp-page="/ProductView/ProductList" asp-route-category="@item.Name">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-expand">
                    <a class="nav-link text-dark fs-5" href="#scrollspyFooter">Liên hệ</a>
                </div>
                <div class="navbar-expand">
                    <button class="btn m-auto" type="button" data-bs-toggle="collapse"
                            data-bs-target="#search-external"
                            aria-controls="search-external"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </nav>
            <div class="collapse" id="search-external">
                <input id="search" type="text" class="form-control rounded-2 fs-5 border-4" placeholder="Tìm Kiếm" aria-label="Tìm Kiếm..." onsubmit="onSearchSubmit()">
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer-overrides" class="border-top footer text-muted bg-light">
        <section class="bg-light">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto text-wrap fs-6">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold fs-5">Tên công ty</h6>
                        <hr class="mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul>
                            <li class="fw-bold mb-0">
                                CÔNG TY TNHH MTV THIẾT BỊ VẬT TƯ KIM LIÊN
                            </li>
                            <li>
                                118/1 Nguyễn Tưu Nghiêm, P.Bình Trưng Tây, Quận 2, TP.HCM.
                            </li>
                            <li>
                                0913.971497 - 0949.791306
                            </li>
                            <li>
                                kimlienq2hcm@gmail.com
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-wrap">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold fs-5">DANH MỤC SẢN PHẨM</h6>
                        <hr class="d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul class="list-unstyled">
                            @foreach (var item in categories)
                            {
                                <li>
                                    <a class="link-dark fs-5 text-decoration-none" asp-area="" asp-page="/ProductView/ProductList" asp-route-name="@item.Name">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-wrap mb-md-0">
                        <!-- Links -->
                        <h6 id="scrollspyFooter" class="text-uppercase fw-bold fs-5">HỖ TRỢ KHÁCH HÀNG</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul class="list-unstyled">
                            <li>
                                <a class="link-dark fs-5 text-decoration-none" asp-area="" asp-page="">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a class="link-dark fs-5 text-decoration-none" asp-area="" asp-page="">Hình thức thanh toán</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        var input = document.getElementById("search");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                onSearchSubmit();
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@{
    async Task<IEnumerable<Category>> GetCategories()
    {
        var categories = await _unitOfWork.CategoryService.GetDTOs(filter: c => c.ParentId == null);
        return categories;
    }
}