@using AppService.DTOs;
@using AppService.UnitOfWork;
@inject IUnitOfWork _unitOfWork
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KimLienCustomerView</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KimLienCustomerView.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
</head>
<body class="d-flex flex-column">
    <div class="container">
        <header>
            <img class="header-logo rounded-2 w-100 h-auto bg-light" src="https://kimlien1808.blob.core.windows.net/pictures/logo3_nobackground.png" style="--bs-bg-opacity: .9;" alt="Kim Lien Logo" />
        </header>
    </div>
    <div class="container sticky-top mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow rounded-2 py-0" style="opacity: 85%">
            <a id="nav-item" class="navbar-brand px-3 mx-0 border border-2 border-start-0 border-top-0 border-bottom-0 fw-bold" asp-area="" asp-page="/ProductView/Products">Trang Chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1 justify-content-start">
                    @{
                        var categories = await GetCategories();
                    }

                    @foreach (var item in categories.Where(c => c.ParentId == null))
                    {
                        <li class="px-3 border border-2 border-start-0 border-top-0 border-bottom-0" onmouseover="onNavHover('@item.Id')" onmouseout="onNavOut('@item.Id')">
                            <a id="nav-item" class="nav-link fs-5 text-wrap" asp-area="" asp-page="/ProductView/ProductList" asp-route-category="@item.Name">@item.Name</a>
                            @if (categories.Any(c => c.ParentId == item.Id))
                            {
                                <ul id="@item.Id" class="dropdown-menu">
                                    @foreach (var child in categories.Where(c => c.ParentId == item.Id))
                                    {
                                        <li>
                                            <a id="nav-item" class="nav-link fs-5 text-wrap" asp-area="" asp-page="/ProductView/ProductList" asp-route-category="@child.Name">@child.Name</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-expand">
                <a id="nav-refer" class="nav-link fs-5 fw-bold" href="#scrollspyFooter">Liên hệ</a>
            </div>
            <div id="nav-item" class="navbar-expand">
                <button class="btn m-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#search-external"
                        aria-controls="search-external"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </nav>
        <div class="collapse" id="search-external">
            <input id="search" type="text" class="form-control rounded-2 fs-5 border-4" placeholder="Tìm Kiếm" aria-label="Tìm Kiếm..." onsubmit="onSearchSubmit()">
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer-overrides" class="border-top footer text-muted bg-light">
        <section class="bg-light">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto text-wrap">
                        <!-- Content -->
                        <h6 id="scrollspyFooter" class="text-uppercase fw-bold fs-5">Tên công ty</h6>
                        <hr class="mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul class="ps-0">
                            <li class="fw-bold mb-0 list-unstyled">
                                CÔNG TY TNHH MTV THIẾT BỊ VẬT TƯ KIM LIÊN
                            </li>
                            <li class="list-unstyled">
                                118/1 Nguyễn Tư Nghiêm, P.Bình Trưng Tây, Quận 2, TP.HCM.
                            </li>
                            <li class="list-unstyled">
                                0913.971497 - 0949.791306
                            </li>
                            <li class="list-unstyled">
                                kimlienq2hcm@gmail.com
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-wrap">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold fs-5">DANH MỤC SẢN PHẨM</h6>
                        <hr class="d-inline-block mx-auto mt-0"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul class="list-unstyled">
                            @foreach (var item in categories.Where(c => c.ParentId == null))
                            {
                                <li>
                                    <a class="link-dark text-muted text-decoration-none" asp-area="" asp-page="/ProductView/ProductList" asp-route-name="@item.Name">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-wrap mb-md-0">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold fs-5">HỖ TRỢ KHÁCH HÀNG</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <ul class="list-unstyled">
                            <li>
                                <a class="link-dark text-decoration-none fw-bold text-muted text-uppercase" asp-area="" asp-page="/Policy/ReturnPolicy">Chính sách đổi trả</a>
                            </li>
                            <li class="fs-5 text-decoration-none">
                                Hình thức thanh toán:
                            </li>
                            <li>
                                TP.HCM: Chuyển khoản hoặc Tiền mặt
                            </li>
                            <li>
                                Các tỉnh thành khác: Chuyển khoản
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
    </footer>
    <script>
        var input = document.getElementById("search");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                onSearchSubmit();
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@{
    async Task<IEnumerable<Category>> GetCategories()
    {
        var categories = await _unitOfWork.CategoryService.GetDTOs();
        return categories;
    }
}