@page
@using System.Text
@model KimLienCustomerView.Pages.ProductView.ProductsModel
@*@item.Product.DeserializedPictures[0]*@
@{
    ViewData["Title"] = "Products";
}

<div class="container bg-light bg-opacity-50 rounded-3">
    <p class="h1 text-center pt-3" style="font-family: 'Alegreya', serif">Nổi Bật</p>
    <div class="row">
        @foreach (var item in Model.HotProducts.Take(6))

        {
            <div class="col-xl-4 col-sm-6 col-md-6 my-2">
                <a asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                    <div class="d-flex border border-4 border-bottom-0 bg-light justify-content-center rounded-top">
                        <img class="d-block rounded-3 mw-100 img-200 transform-15" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                    </div>
                    <div class="p-2 text-black text-center border border-4 border-top-0 rounded-bottom" style="background-color: #0099CC;">
                        <p class="h5 text-decoration-none">
                            @item.Product.Name
                        </p>
                    </div>

                </a>
            </div>
        }
    </div>
</div>
<div class="my-3" style="opacity: 0.85">
    <img class="w-100 h-auto rounded-3" src="https://kimlien1808.blob.core.windows.net/pictures/Bank_logos.jpg" alt="Ảnh các ngân hàng" />
</div>
<div class="container bg-light bg-opacity-50 rounded-3 my-4">

    <a class="d-block text-decoration-none h1 pt-3 mt-3 text-center" style="font-family: 'Alegreya', serif" asp-page="./ProductList">
        Sản Phẩm Mới
    </a>
    <div class="row">
        @foreach (var item in Model.NewProducts.Take(6))
        {
            <div class="col-xl-4 col-sm-6 col-md-6 my-2">
                <a asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                    <div class="d-flex border border-4 border-bottom-0 bg-light justify-content-center rounded-top">
                        <img class="d-block rounded-3 mw-100 img-200 transform-15" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                    </div>
                    <div class="p-2 text-black text-center border border-4 border-top-0 rounded-bottom" style="background-color: #0099CC;">
                        <p class="h5 text-decoration-none">
                            @item.Product.Name
                        </p>
                    </div>

                </a>
            </div>
        }
    </div>
</div>