@page
@using System.Text
@model KimLienCustomerView.Pages.ProductView.ProductsModel
@*@item.Product.DeserializedPictures[0]*@
@{
    ViewData["Title"] = "Products";
}
<h1>Sản Phẩm Nổi Bật</h1>
<div class="container">
    <div class="product_show_box">
        <div class="product_row">
            @foreach (var item in Model.Products)
                {
            <div class="product_card">
            <a class="product_card" asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                <div>
                    <img class="product_image" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                </div>
                <div class="product_name">
                    <div class="card-header text-white bg-info text-lg-center">
                        <p class="card-text">
                            <h5>
                                @item.Product.Name
                            </h5>
                        </p>
                    </div>
                </div>   
            </a>
            </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="product_show_box">
        <div class="product_row">
            @foreach (var item in Model.Products)
                {
            <a class="product_card" asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                <div>
                    <img class="product_image"src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                </div>
                <div class="product_name">
                    <div class="card-header text-white bg-info text-lg-center">
                        <p class="card-text">
                            <h5 >
                                @item.Product.Name
                            </h5>
                        </p>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
</div>
<br />
<h1>Sản Phẩm Mới</h1>
<div class="container">
    <div class="product_show_box">
        <div class="product_row">
            @foreach (var item in Model.Products)
                {
            <a class="product_card" asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                <div >
                    <img class="product_image" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                </div>
                <div class="product_name">
                    <div class="card-header text-white bg-info text-lg-center">
                        <p class="card-text">
                            <h5 >
                                @item.Product.Name
                            </h5>
                        </p>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="product_show_box">
        <div class="product_row">
            @foreach (var item in Model.Products)
                {
            <a class="product_card" asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                <div>
                    <img class="product_image" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                </div>
                <div class="product_name">
                    <div class="card-header text-white bg-info text-lg-center">
                        <p class="card-text">
                            <h5 >
                                @item.Product.Name
                            </h5>
                        </p>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
</div>
