@page
@model KimLienCustomerView.Pages.ProductView.IndexModel
@{
}
<div>
    @*<nav aria-label="Page navigation">
        <form method="post">
            <div class="pagination-box">
                <ul class="pagination">
                    <li class="page-item">
                        <button class="page-link" value="@Model.PageIndex - 1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>
                    @for (int i = 1; i < @Model.MaxPages; i++)
                    {
                        <li class="page-item">
                            <button class="page-link" value="@i" aria-label="@i">
                                <span class="sr-only">@i</span>
                            </button>
                        </li>
                    }
                    <li class="page-item">
                        <button class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>
                </ul>
            </div>
        </form>

    </nav>*@
</div>