@page
@using System.Text
@model KimLienCustomerView.Pages.ProductView.ProductsModel
@*@item.Product.DeserializedPictures[0]*@
@{
    ViewData["Title"] = "Products";
}
<div class="container bg-light bg-opacity-50 rounded-3">
    <h1>Sản Phẩm Nổi Bật</h1>
    <div class="container">
        <div class="row">
                @foreach (var item in Model.Products.Take(6))
                {
                    <div class="col-xl-4 col-sm-12 col-md-12">
                        <a asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                        <div class="w-100 my-2 border border-4 rounded-3">
                            <img class="h-auto w-100 rounded-3" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                                <div class="p-2 text-black bg-light text-center">
                                    <p class="h5 text-decoration-none">
                                        @item.Product.Name
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
        </div>
    </div>
    <a class="text-decoration-underline" asp-page="./ProductList">
        <h1>Sản Phẩm Mới</h1>
    </a>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Products.Take(6))
            {
                <div class="col-xl-4 col-sm-12 col-md-12">
                    <a asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                        <div class="w-100 my-2">
                            <img class="h-auto w-100" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                            <div class="p-2 text-black bg-light text-center border border-3">
                                <p class="h5 text-decoration-none">
                                    @item.Product.Name
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
            </div>
        </div>
</div>