@page
@using System.Text
@model KimLienCustomerView.Pages.ProductView.ProductDetail
@*@item.Product.DeserializedPictures[0]*@
@{
    ViewData["Title"] = "ProductDetail";
}
<div class="container bg-light rounded-3">
    <div class="row py-3">
        <div class="col-md-6">
            <div class="col-12">
                <div id="slider" class="owl-carousel product-slider p-3 ps-1">
                    @*<img class="product_detail_main_image" src="@Model.Product.Product.DeserializedPictures.First()" alt="@Model.Product.Product.Name">*@
                    @foreach (var item in Model.Product.Product.DeserializedPictures)
                    {
                        <div class="item">
                            @*<div class="product_detail_sub_image">*@
                            <img class="w-100 h-auto" src="@item">
                            @*</div>*@
                        </div>
                    }
                </div>
                <div class="col-12">
                    <div id="thumb" class="owl-carousel product-thumb p-2">
                        @*<div class="product_detail_sub_gallery">*@
                        @*<div class="item">
                        <img src="@Model.Product.Product.DeserializedPictures.First()" alt="@Model.Product.Product.Name">
                        </div>*@
                        @foreach (var item in Model.Product.Product.DeserializedPictures)
                        {
                            <div class="item pe-2">
                                @*<div class="product_detail_sub_image">*@
                                <img src="@item">
                                @*</div>*@
                            </div>
                        }
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 p-3">
            <div class="row h-100">
                <div class="col-12 align-self-start">
                    <div class="col-12 fs-4 fw-bold">
                        <p>
                            @Model.Product.Product.Name
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="text-break fs-5">
                            @Html.Raw(@Model.Product.Product.Description)
                        </div>
                    </div>
                </div>
                <div class="col-12 align-self-end">
                    <h4>Các loại hàng sản phẩm nằm trong: </h4>
                    <div class="">
                        @foreach (var item in Model.Product.ProductCategories)
                        {
                            <label id="nav-category" class="border border-dark p-1 m-1 rounded fs-5">
                                <a class="text-dark fs-5 text-wrap" asp-area="" asp-page="/ProductView/ProductList" asp-route-category="@item.Category.Name">@item.Category.Name</a>
                            </label>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<div class="container bg-light bg-opacity-50 rounded-3">
    <div class="row">
        <h1 class="text-lg-center pt-3" style="font-family: 'Alegreya', serif">Sản Phẩm Liên Quan</h1>
        @foreach (var item in Model.recommendProducts.Take(12))
        {
            <div class="col-xl-4 col-sm-6 col-md-6">
                <a asp-page="./ProductDetail" asp-route-id="@item.Product.Id">
                    <div class="w-100 my-2 border border-4 rounded-3">
                        <img class="h-auto w-100 rounded-3" src="@item.Product.DeserializedPictures.FirstOrDefault()" alt="@item.Product.Name">
                        <div class="p-2 text-black bg-light text-center">
                            <p class="h5 text-decoration-none">
                                @item.Product.Name
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
