@page
@model KimLienAdministrator.Pages.CategoryManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Category Index</h1>

<p>
    <a asp-page="Create">
        <h3>Create New Category</h3>
    </a>
</p>
@*Table for Parent Categories*@
<table class="table" style="width:78%; margin: 0 auto;">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Category[0].Name)*@
                Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            @if (item.Parent == null)
            {
                
                <tr>
                    <form method="post">
                    <td style="border-right: 1px ridge #000">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name="id" type="hidden" value="@item.Id" />
                            <input name="name" asp-for="@item.Name" class="form-control" />
                                @if (item.Id == Model.Message.Id)
                                {
                                <span value="@Model.Message.Message" class="text-danger"></span>
                                }
                        </div>

                    </td>
                    <td class="button-align">
                        <button name="action" value="update" onclick="return confirm('Are you sure you want to update?');">Update</button>
                        <button name="action" value="delete" onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                    </td>
                    </form>
                </tr>
                
            }
            @foreach (var childItem in Model.Category)
            {
                @if (childItem.ParentId.Equals(item.Id))
                {
                   
                    <tr class="child-row">
                         <form method="post">
                        <td style="border-right: 1px ridge #000">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group-child">
                                <input name="id" type="hidden" value="@childItem.Id" />
                                <input name="name" asp-for="@childItem.Name" class="form-control" />
                                    @if (childItem.Id == Model.Message.Id)
                                    {
                                    <span value="@Model.Message.Message" class="text-danger"></span>
                                    }

                            </div>
                        </td>
                        <td class="button-align">
                            <button name="action" value="update" onclick="return confirm('Are you sure you want to update?');">Update</button>
                            <button name="action" value="delete" onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                        </td>
                        </form>
                    </tr>
                }
            }
        }
    </tbody>
</table>
